@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	/* overflow-x: hidden; */
	padding: 20px 120px;
}
header {
	display: flex;
	/* border:2px solid red; */
	width: 100%;
	padding: 50px 0px;
	justify-content: space-between;
	align-items: center;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li {
	list-style: none;
	margin-left: 40px;
}
header ul li a {
	color: hsl(236, 13%, 42%);
	font-weight: 400;
	text-decoration: none;
	/* padding: 6px 10px; */
}
section {
	display: flex;
	justify-content: space-between;
	border: 2px solid red;
}

section .card-new {
	background-color: #00001a;
	padding: 40px 30px 10px 30px;
	width: 80%;
	height: 100%;
	margin-left: 1.8rem;
}
section .new-subHeading {
	font-size: 1.2rem;
	font-weight: 700;
	color: #fff;
}
section ul li {
	list-style: none;
	display: flex;
	flex-direction: column;
}
section .new-subs {
	padding: 29px 0;
}
section .new-sub {
	color: hsl(233, 8%, 79%);
	font-size: 15px;
	font-weight: 400;
	padding: 13px 0 0 0;
}
section .left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
section .left-secRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.8rem;
	border: 2px solid green;
}
section .left-secRow span {
	font-size: 3.5rem;
	font-weight: 800;
	color: #00001a;
	border: 2px solid black;
	width: 90%;
}
